.image{
    max-width: 20%;
    height: auto;
}

.imagesize {
    width: 60%;
    height: 80%;
  }

.passgen {
    overflow: auto;
    border: 3px solid #4CAF50;
    padding: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    font-size: medium;
    text-align: center;
  
  }

  .contact{
    margin-left: 20%;
  }

  .about{
    margin-left: 20%;
  }

  .port{
    margin-left: 15%;
  }